.hero {
	background-color: #00706C;
	color: white;
	height: 600px;

	
}

.hero2{
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 47px;
	line-height: 64px;
	padding-top: 4%;
	padding-left: 6%;
}

.aboutpage{
	font-family: 'Lato';
font-style: normal;
font-size: 18px;
line-height: 23px;
/* or 128% */
padding-left: 6%;
text-align: justify;
display: flex;
}

.JoinUs_button{
  background-color: #FF9F00; /* set background color */
  border: none; /* remove default border */
  border-radius: 20px; /* set border radius to create rounded corners */
  color: #fff; /* set text color */
  padding: 10px 20px; /* add padding to create button size */
  text-align: center; /* center text within button */
  text-decoration: none; /* remove default underline */
  display: inline-block; /* display as inline block to respect width and height properties */
  font-size: 16px; /* set font size */
  cursor: pointer; /* add cursor pointer when hovering over button */
  transition: all 0.6s ease;
}

.JoinUs_button:hover {
	transform: scale(1.3);
  }

.moreinfo_button{
  border-radius: 20px; /* set border radius to create rounded corners */
  color: black; /* set text color */
  padding: 10px 20px; /* add padding to create button size */
  text-align: center; /* center text within button */
  text-decoration: none; /* remove default underline */
  display: inline-block; /* display as inline block to respect width and height properties */
  font-size: 16px; /* set font size */
  cursor: pointer; /* add cursor pointer when hovering over button */
  margin: 0 8%;
  transition: all 0.6s ease;
}

.moreinfo_button:hover {
	transform: scale(1.3);
  }

.buttonsDiv{
	padding-top: 5%;
	display: flex;
	justify-content: center;
	justify-items: center;
}

.hero1_image1{
	display: block;
	justify-content:center ;
	padding-left: 10%;
	align-items: center;
  transition: all 0.6s ease;
}

.hero1_image1:hover{
  transform: scale(1.1);
}